.DS_Store
._.DS_Store
**/.DS_Store
logs
project/project
project/target
target
target-2.10
target-2.11
target-2.12
tmp
.history
dist
/.idea
*.iml
*.log
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.scssc
*.sassc
*.css.map
/definitions.dot
/definitions.dot.png
*.orig
